@if (ciudadanos) {

    <div class="mat-elevation-z8 tabla_div animate__animated animate__fadeIn animate__fast">
      <table mat-table [dataSource]="dataSource">
    
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element ; let i = index">{{i+1}} </td>
        </ng-container>
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef> Opciones </th>
          <td mat-cell *matCellDef="let element">
            <div class="opcion">
              <button 
              mat-icon-button 
              matTooltip="Modificar solapín"
              aria-label="document_edit" (click)="openModificarSolapinDialog(element)">
              <img src="assets/img/document_edit.svg"/>
              </button>

              <button 
              mat-icon-button 
              matTooltip="Anular solapín"
              aria-label="document_delete" (click)="openAnularSolapinDialog(element)">
              <img src="assets/img/document_delete.svg"/>
              </button>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="img">
          <th mat-header-cell *matHeaderCellDef> Foto </th>
          <td mat-cell *matCellDef="let element">
            @if(element.imagen !== null){
            <img [src]="'data:image/jpeg;base64,' + element.imagen.foto" alt="Foto" class="imgTable" />
    
            }@else {
            <img src="assets/font/imgUser.png" alt="Foto" class="imgTable" />
            }
          </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="primernombre">
          <th mat-header-cell *matHeaderCellDef> Primer Nombre </th>
          <td mat-cell *matCellDef="let element">
            {{element.primernombre}}
          </td>
        </ng-container>
        <ng-container matColumnDef="segundonombre">
          <th mat-header-cell *matHeaderCellDef> Segundo Nombre </th>
          <td mat-cell *matCellDef="let element">
            {{element.segundonombre}}
          </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="primerapellido">
          <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by apellidos"> Primer Apellido </th>
          <td mat-cell *matCellDef="let element">
            {{element.primerapellido}}
          </td>
        </ng-container>
        <ng-container matColumnDef="segundoapellido">
          <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by apellidos"> Segundo Apellido </th>
          <td mat-cell *matCellDef="let element">
            {{ element.segundoapellido}}
    
          </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="solapin">
          <th mat-header-cell *matHeaderCellDef> Solapín </th>
          <td mat-cell *matCellDef="let element">
    
            {{element.solapin}}
          </td>
        </ng-container>
        <ng-container matColumnDef="carnetidentidad">
          <th mat-header-cell *matHeaderCellDef> DNI </th>
          <td mat-cell *matCellDef="let element">
            {{element.carnetidentidad}}
    
          </td>
        </ng-container>
        <ng-container matColumnDef="idexpediente">
          <th mat-header-cell *matHeaderCellDef> Expediente </th>
          <td mat-cell *matCellDef="let element">
            {{element.idexpediente}}
    
          </td>
        </ng-container>
        <ng-container matColumnDef="area">
          <th mat-header-cell *matHeaderCellDef> Área </th>
          <td mat-cell *matCellDef="let element">
            {{element.area}}
    
          </td>
        </ng-container>
        <ng-container matColumnDef="roluniversitario">
          <th mat-header-cell *matHeaderCellDef> Rol Universitario </th>
          <td mat-cell *matCellDef="let element">
            {{element.roluniversitario}}
          </td>
        </ng-container>
        <ng-container matColumnDef="provincia">
          <th mat-header-cell *matHeaderCellDef> Provincia </th>
          <td mat-cell *matCellDef="let element">
            {{element.provincia}}
          </td>
        </ng-container>
        <ng-container matColumnDef="municipio">
          <th mat-header-cell *matHeaderCellDef> Municipio </th>
          <td mat-cell *matCellDef="let element">
            {{element.municipio}}
          </td>
        </ng-container>
    
        <ng-container matColumnDef="sexo">
          <th mat-header-cell *matHeaderCellDef> Sexo </th>
          <td mat-cell *matCellDef="let element">
            {{element.sexo}}
          </td>
        </ng-container>
        <ng-container matColumnDef="residente">
          <th mat-header-cell *matHeaderCellDef> Residente </th>
          <td mat-cell *matCellDef="let element">
            {{ parseResidente(element.residente)}}
          </td>
        </ng-container>
        <ng-container matColumnDef="fechanacimiento">
          <th mat-header-cell *matHeaderCellDef> Fecha de nacimiento </th>
          <td mat-cell *matCellDef="let element">
            {{element.fechanacimiento}}
          </td>
        </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [length]="count" [pageIndex]="0" [pageSize]="page_size" (page)="onPageFired($event)" class="paginator">
    
      </mat-paginator>
    </div>
    
    }
    @else {
    <div class="newSearch animate__animated animate__fadeIn animate__fast">
    
      <img class="imgBusqueda animate__animated animate__fadeInUpBig" src="assets/font/busqueda.jpg"
        alt="nueva busqueda" />
    
      <div class="animate__animated animate__fadeInRight">
        <h3>No se encontraron ciudadanos</h3>
        <p>Realize una nueva busqueda</p>
      </div>
    </div>
    }
