<div class="ciudadano_create">

    <h2>Crear/Modificar Ciudadano</h2>
    <hr />
    <div class="formContainer">
        <form [formGroup]="ciudadanoForm" (ngSubmit)="onSubmit(ciudadanoForm)">
            <mat-form-field>
                <mat-label>Primer nombre </mat-label>
                <input matInput [formControl]="primernombre" required >
                @if (primernombre.invalid) {
                    <mat-error>{{getErrorMessage(primernombre)}}</mat-error>
                  }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Segundo nombre </mat-label>
                <input matInput [formControl]="segundonombre"  >
                @if (segundonombre.invalid) {
                    <mat-error>{{getErrorMessage(segundonombre)}}</mat-error>
                  }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Primer apellido</mat-label>
                <input matInput [formControl]="primerapellido">
                @if (primerapellido.invalid) {
                    <mat-error>{{getErrorMessage(primerapellido)}}</mat-error>
                  }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Segundo apellido</mat-label>
                <input matInput [formControl]="segundoapellido">
                @if (segundoapellido.invalid) {
                    <mat-error>{{getErrorMessage(segundoapellido)}}</mat-error>
                  }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Carnet de Identidad</mat-label>
                <input matInput [formControl]="dni">
                @if (dni.invalid) {
                    <mat-error>{{getErrorMessage(dni)}}</mat-error>
                  }
            </mat-form-field>

            <mat-form-field>
                <mat-label>Expediente</mat-label>
                <input matInput [formControl]="expediente">
                @if (expediente.invalid) {
                    <mat-error>{{getErrorMessage(expediente)}}</mat-error>
                  }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Rol Institucional</mat-label>
                <input matInput [formControl]="rolInst">
                @if (rolInst.invalid) {
                    <mat-error>{{getErrorMessage(rolInst)}}</mat-error>
                  }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Area</mat-label>
                <input matInput [formControl]="area">
                @if (area.invalid) {
                    <mat-error>{{getErrorMessage(area)}}</mat-error>
                  }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Sexo</mat-label>
                <input matInput [formControl]="sexo">
                @if (sexo.invalid) {
                    <mat-error>{{getErrorMessage(sexo)}}</mat-error>
                  }
            </mat-form-field>

            <mat-form-field>
                <mat-label>Residente</mat-label>
                <mat-select [formControl]='residente' >
                  <mat-option value={{true}}>SI</mat-option>
                  <mat-option value={{false}}>No</mat-option>
                </mat-select>
                @if (residente.invalid) {
                    <mat-error>{{getErrorMessage(residente)}}</mat-error>
                  }
            </mat-form-field>

            <mat-form-field>
                <mat-label>Provincia</mat-label>
                <input matInput [formControl]="provincia">
                @if (provincia.invalid) {
                    <mat-error>{{getErrorMessage(provincia)}}</mat-error>
                  }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Municipio</mat-label>
                <input matInput [formControl]="municipio">
                @if (municipio.invalid) {
                    <mat-error>{{getErrorMessage(municipio)}}</mat-error>
                  }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Fecha de Nacimiento</mat-label>
                <input  matInput [matDatepicker]="picker" [formControl]="fecha">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button mat-button type="submit" id="sendUser">Registrar</button>
            
        </form>
    </div>

</div>