<footer>
    <img src="../../assets/img/BackgroundEraser_20240419_213610070.png" alt="" class="logo">
    <div class="iconscontainer">
        <a href="" class="social-icon"><img class="img" src="../../assets/img/icons8-facebook-nuevo-50 (1).png" alt="facebook"></a>
        <a href="" class="social-icon"><img class="img" src="../../assets/img/icons8-linkedin-50 (1).png" alt="linkedin"></a>
        <a href="" class="social-icon"><img class="img" src="../../assets/img/icons8-instagram-50 (1).png" alt="instagram"></a>
        <a href="" class="social-icon"><img class="img" src="../../assets/img/icons8-telegrama-50 (1).png" alt="telegram"></a>
       
    </div>  
   <span class="copyright">Universidad de las Ciencias Informáticas La Habana, Cuba. Todos los derechos reservados </span>
</footer>
