

<div class="menu">
  <section class="btnMenu">
    <mat-icon>chevron_left</mat-icon>
    <p>
        Buscar Cuidadano
    </p>
    
  </section>
  <section class="btnMenu">
    <mat-icon>chevron_left</mat-icon>
    <p>
        Crear Ciudadano
    </p>
    
  </section>
  <section class="btnMenu">
    <mat-icon>chevron_left</mat-icon>
    <p>
        Importar Ciudadanos
    </p>
    
  </section>
  <section class="btnMenu">
    <mat-icon>chevron_left</mat-icon>
    <p>
        Ciudadanos sin captura de Imagen
    </p>
    
  </section>
  <section class="btnMenu">
    <mat-icon>chevron_left</mat-icon>
    <p>
        Reportes
    </p>
    
  </section>
</div>
