
.encabezado{
    margin-bottom: 20px;
}

.container{
    border: 1px solid #ccc;
    min-height: 90vh;
    height: auto;
    width:100%;
    justify-content: space-between;
}
.panelContenido{
    display: flex;
    height: auto;
    min-height: 60vh;
}
.panelContainers{
    width: 78%;
    min-height: 100%;
}
.menuContainer{
    border-left: 2px solid #ccc;
    width: 22%;
    background-color: #F9F7F3;
}

.footer{
    margin-top: auto;
}

.panelOperaciones{
    width: 100%;
}