

.container{
    border: 1px solid #ccc;
    width: 97%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.panelContainers{
    width: 78%;
    min-height: 100%;
}
.menuContainer{
    border: 1px solid blue;
    max-width: 20%;
}