.report_date_Container{
    width: 100%;
}

.example-form-field {
    margin-right: 20px;
    width: 300px;
  }


  
.btn_export{
    display: flex;
    align-items: baseline;
    justify-content: end;
   
   }
   
   
   
   span{
       display: flex;
       align-items: center;
       padding: 6px;
       text-decoration: none;
       color: #444;
       background-color: #71c4ef;
       border: none;
       width: 115px;
       height:20px;
       border-radius: 5px;
       margin-left: 10px;
       margin-right: 10px;
       box-shadow: 0px 1px 2px #497388;
   }
   
   span:hover {
       cursor: pointer;
       color: #444;
   }
   span:active {
       transform: scale(0.95);
   }
   
   mat-icon {
    color: #444;
   }