<div class="container">
<form action="" method="post">
    <h2>Registrar Usuario</h2>
    <div class="content">
        <div class="input-box">
            <label for="name">Nombre</label>
            <input type="text" placeholder="Introduzca su nombre" name="name" required>
        </div>

        <div class="input-box">
            <label for="Apellidos">Apellidos</label>
            <input type="text" placeholder="Introduzca sus Apellidos" name="Apellidos" required>
        </div>

        <div class="input-box">
            <label for="username">Nombre de Usuario</label>
            <input type="text" placeholder="Introduzca su usuario" name="user" required>
        </div>

        <div class="input-box">
            <label for="email">Correo electrónico</label>
            <input type="email" placeholder="Introduzca su Correo electrónico" name="Correo" required>
        </div>

        <div class="input-box">
            <label for="password">Contraseña</label>
            <input type="password" placeholder="Introduzca su Contraseña" name="password" required>
        </div>

        <div class="input-box">
            <label for="Cpassword">Confirmar Contraseña</label>
            <input type="password" placeholder="Confirmar Contraseña" name="ConfirmPassword" required>
        </div>

        <div class="button-container">
            <button type="submit">Registrar</button>
           
        </div>
           


    </div>
</form>

</div>
