<div class="container">
<form action="" method="post" [formGroup]="formInfoPersonal" (ngSubmit)="onSubmitInformations(formInfoPersonal)">
    <h2>Registrar Usuario</h2>
    <div class="content">
        <div class="input-box">
            <label for="name">Nombre</label>
            <input 
            type="text" 
            placeholder="Introduzca su nombre" 
            name="name" 
            [formControl]="nombre"
            [value]="nombre"
            required>
            @if(nombre.errors){
                <span class="errorInput">{{getErrorMessage(nombre)}}</span>
              }
        </div>

        <div class="input-box">
            <label for="Apellidos">Apellidos</label>
            <input 
            type="text" 
            placeholder="Introduzca sus Apellidos" 
            name="Apellidos" required
            [formControl]="apellido"
            [value]="apellido"
            >

            @if(apellido.errors){
                <span class="errorInput">{{getErrorMessage(apellido)}}</span>
              }
        </div>

        <div class="input-box">
            <label for="username">Nombre de Usuario</label>
            <input 
            type="text"
             placeholder="Introduzca su usuario" 
             name="user" required
             [formControl]="username"
             [value]="username"
             >
             @if(username.errors){
                <span class="errorInput">{{getErrorMessage(username)}}</span>
              }
        </div>

        <div class="input-box">
            <label for="email">Correo electrónico</label>
            <input 
            type="email" 
            placeholder="Introduzca su Correo electrónico" 
            name="Correo" required
            [formControl]="email"
            [value]="email"
            >
            @if(email.errors){
                <span class="errorInput">{{getErrorMessage(email)}}</span>
              }
        </div>

        <div class="input-box">
            <label for="password">Contraseña</label>
            <input 
            type="password" 
            placeholder="Introduzca su Contraseña" 
            name="password" required
            [formControl]="password"
            [value]="password"
            >
            @if(password.errors){
                <span class="errorInput">{{getErrorMessage(password)}}</span>
              }
        </div>

        <div class="input-box">
            <label for="Cpassword">Confirmar Contraseña</label>
            <input 
            type="password" placeholder="Confirmar Contraseña" 
            name="ConfirmPassword" required
            [formControl]="confirm_password"
            [value]="confirm_password"
            >
            @if(confirm_password.errors){
                <span class="errorInput">{{getErrorMessage(confirm_password)}}</span>
              }
        </div>

        <div class="button-container">
            <button type="submit">Registrar</button>
           
        </div>
           


    </div>
</form>

</div>
