table {
    width: 100%;
    
}
.tabla_div{
    overflow-x: auto;
}

.inputInactive{
    height: 30px;
    background-color: transparent;
    border: none;
    
}
.inputActive{
    height: 30px;
    background-color: #fff;
    border: 1px solid #444;
    margin: 0px;
    padding: 0px;
}

.opcion{
    display: flex;
    padding: 2px;
}
.mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
    border: 1px solid #ccc;
  }
.mat-mdc-row:hover .mat-mdc-cell{
    background-color: #71c4ef;
    cursor: pointer;
}
