<div class="ciudadanos_import_container">
    <h2>Importar Ciudadanos</h2>
    <hr />
    <div class="export_container">

        <form (submit)="onSubmit()" enctype="multipart/form-data">
              <div class="file-upload">
                <input type="file" 
                (change)="onFileSelected($event)"
                 accept=".csv"
                id="myFile"
                class="file-upload__input"
              
              />
                <button class="file-upload__button" type="button" >
                    <label for="myFile" class="file-upload__label" >Seleccionar archivo</label>
                </button>
                <span>{{nameFile}}</span>
              </div>
            <button mat-button type="submit" class="upload">
                Subir CSV
                <mat-icon>upload</mat-icon>
            </button>
        </form>
    
        <section class="btn_export">
            <a href="http://127.0.0.1:8000/api/ciudadanoscsv/%7Bpk%7D/descargar_csv/" download>
                <button mat-button  aria-label="download">
                    Descargar Planilla
                    <mat-icon>download</mat-icon>
                </button>
            </a>
    
    
        </section>
    </div>
    <hr/>

    @if(importsCiudadanos){
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
          
              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element let i = index">{{i+1}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="img">
                <th mat-header-cell *matHeaderCellDef> Img </th>
                <td mat-cell *matCellDef="let element">
                  @if(element.imagen !== null){
                    <img [src]="'data:image/jpeg;base64,' + element.img" alt="Foto" class="imgTable"/>
          
                  }@else {
                    <img src="../../assets/font/imgUser.png" alt="Foto" class="imgTable"/>
                  }
                </td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="primernombre">
                <th mat-header-cell *matHeaderCellDef> Primer Nombre </th>
                <td mat-cell *matCellDef="let element">
                    {{element.primernombre}}
                </td>
              </ng-container>
              <ng-container matColumnDef="segundonombre">
                <th mat-header-cell *matHeaderCellDef> Segundo Nombre </th>
                <td mat-cell *matCellDef="let element">
                    {{element.segundonombre}}
                </td>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="primerapellido">
                <th mat-header-cell *matHeaderCellDef 
                > Primer apellido </th>
                <td mat-cell *matCellDef="let element">
                    {{element.primerapellido}}
                </td>
              </ng-container>
              <ng-container matColumnDef="segundoapellido">
                <th mat-header-cell *matHeaderCellDef 
                > Segundo apellido </th>
                <td mat-cell *matCellDef="let element">
                    {{element.segundoapellido}}
                </td>
              </ng-container>

              <ng-container matColumnDef="solapin">
                <th mat-header-cell *matHeaderCellDef> Solapín </th>
                <td mat-cell *matCellDef="let element">
                    {{element.solapin}}
                </td>
              </ng-container>
              <ng-container matColumnDef="carnetidentidad">
                <th mat-header-cell *matHeaderCellDef> dni </th>
                <td mat-cell *matCellDef="let element">
                    {{element.carnetidentidad}}
                </td>
              </ng-container>
              <ng-container matColumnDef="idexpediente">
                <th mat-header-cell *matHeaderCellDef>Expediente </th>
                <td mat-cell *matCellDef="let element">
                    {{element.idexpediente}}
                </td>
              </ng-container>
              <ng-container matColumnDef="roluniversitario">
                <th mat-header-cell *matHeaderCellDef> rol universitario </th>
                <td mat-cell *matCellDef="let element">
                    {{element.roluniversitario}}
                </td>
              </ng-container>
              <ng-container matColumnDef="area">
                <th mat-header-cell *matHeaderCellDef> area </th>
                <td mat-cell *matCellDef="let element">
                    {{element.area}}
                </td>
              </ng-container>
              <ng-container matColumnDef="provincia">
                <th mat-header-cell *matHeaderCellDef> Provincia </th>
                <td mat-cell *matCellDef="let element">
                    {{element.provincia}}
                </td>
              </ng-container>
              
              <ng-container matColumnDef="municipio">
                <th mat-header-cell *matHeaderCellDef> Municipio </th>
                <td mat-cell *matCellDef="let element">
                    {{element.municipio}}
                </td>
              </ng-container>
              <ng-container matColumnDef="residente">
                <th mat-header-cell *matHeaderCellDef> Residente </th>
                <td mat-cell *matCellDef="let element">
                    {{element.residente}}
                </td>
              </ng-container>
              <ng-container matColumnDef="sexo">
                <th mat-header-cell *matHeaderCellDef> Sexo </th>
                <td mat-cell *matCellDef="let element">
                    {{element.sexo}}
                </td>
              </ng-container>
              <ng-container matColumnDef="fechanacimiento">
                <th mat-header-cell *matHeaderCellDef> Fecha nacimiento </th>
                <td mat-cell *matCellDef="let element">
                    {{element.fechanacimiento}}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
    
        }@else{
        <p>No se han importado ciudadanos</p>
        }
</div>