<div class="search_elements animate__animated animate__fadeIn animate__faster">
    <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <mat-select [formControl]='control' >
          <mat-option value="carnetidentidad">No. carnet</mat-option>
          <mat-option value="nombre_apellidos">Nombre y apellidos</mat-option>
          <mat-option value="solapin">Solapín</mat-option>
          <mat-option value="idexpediente">No. Expediente</mat-option>
        </mat-select>
    </mat-form-field>
    <section class="buscar_section">
        <mat-form-field 
        appearance="outline"
        class="buscar" 
        
        >
            <mat-label>Buscar Ciudadano</mat-label>
            <input 
            matInput 
            placeholder="Buscar..."
            [(ngModel)]="busqueda"
            class="inputSearch"
            >
            <button matSuffix mat-icon-button  
            aria-label="buscar" 
            class="btn_buscar"
            (click)="find()"
            >
                <mat-icon>search</mat-icon>
            </button>

        </mat-form-field>
    </section>
</div>