<div class="container">
   <app-encabezado class="encabezado"/>

   <div class="info">
     
      <div class="infoText">
         
         <h1>"Bienvenido a IDBIOACCESS"</h1>
         <p>Sistema de identificación ciudadana universitaria.Facilita tu acceso de manera segura y controlada a la Universidad de las Ciencias Informáticas. 
            <br><br> Si ha iniciado sesión por primera vez y necesita acceder a las funcionalidades de IDBIOACCESS, debe ponerse en contacto con los administradores que trabajan en la Oficina de Identificación que pertenece a la Dirección de Defensa y Seguridad.
         <br> <br> <br>Para más información puede contactarnos vía correo 
         </p><span class="copyright">identificación&commat;uci.cu </span> 
      
         </div>
      <app-login/>
   
   </div>

   <app-pie-pagina class="footer"/>
</div>