<div class="container">
   <app-encabezado class="encabezado"/>

   <div class="info">
     
      <div class="infoText">
         
         <h1>"Bienvenido a IDBIOACCESS"</h1>
         <p>Facilita tu ingreso a la UCI con IDBIOACCESS,el sistema que crea solapines personalizados para cada miembro de la Universidad de las Ciencias Informáticas.Olvídate de las complicaciones, accede con total seguridad. 
            <br><br>¡Bienvenido a una experiencia universitaria más segura!</p>
      </div>
      <app-login/>
   
   </div>

   <app-pie-pagina class="footer"/>
</div>