<div class="container">
   <app-encabezado class="encabezado"/>


   <div class="info">
      <div class="infoText">
         <h1>Bienvenido</h1>
         <h2>Página de Identificacion UCI</h2>
         <p>IDEBIACCESS te permite realizar todo tipo de funciones con respecto a su identificación (Solapín) dentro de la Universidad de las Ciencias Informáticas</p>
      </div>
        <!--
     
           
        -->
        <section>
           <div class="containerImg">
              <img class="fondo" src="../../assets/img/welcome.jpg" alt="">
              <img class="emp" src="../../assets/img/undraw_welcoming_re_x0qo.svg" alt="">
        
           </div>
     
        </section>
   </div>
   
   
   <app-pie-pagina class="footer"/>
</div>
