*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}


section{
   
  
    min-width: 50%;
}

.container{
    background-color:rgb(255, 255, 255);
    min-height: 90vh;
    height: auto;
    width:100%;
    min-width:1200px;
    font-family:'Share Tech',sans-serif;

}
.encabezado{
    margin-bottom: 20px;
}
.info{
    display: flex;
    height: auto;
    min-height: 60vh;

}
.infoText{
    margin: auto;
    padding: 20px;
}
.containerImg{
    position: relative; /* Asegura que las imágenes estén posicionadas relativas a este contenedor */
    height: 90%; /* Altura del contenedor */
    width: 100%; /* Ancho del contenedor */
    overflow: hidden;
    right: 50%;
}
.emp{
    position: absolute; /* Posiciona la imagen de manera absoluta */
    height: 100%; /* Toma el 100% de la altura del contenedor */
    width: 50%; /* Toma el 50% del ancho del contenedor */
    right: 7%; /* Ajusta la posición desde el lado derecho */
    bottom: 0; /* Alinea la imagen al fondo del contenedor */
    z-index: 1; 
    
}

.fondo{
    position: absolute; /* Posiciona la imagen de manera absoluta */
    height: 100%; /* Toma el 100% de la altura del contenedor */
    width: 60%; /* Toma el 60% del ancho del contenedor */
    right: -7%; /* Ajusta la posición desde el lado derecho */
    bottom: 0; 
    
}
.footer{
    margin-top: auto;
}