*{
    margin:0;
    padding:0;
}

nav{

    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-left:5%;
    padding-top:20px;
    padding-right:5%;
    font-weight:bold;
    background-image: url('../../assets/img/grafica.jpg');
    
    background-repeat: no-repeat; 
    
   
    color: rgb(246, 242, 242); 
    padding: 10px 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    
   
}

.cont_info{
    display: flex;
    align-items: center;
    width: 14%;
    justify-content: flex-end;
}


p{
    margin: 0px;
    color:#fff;
    text-decoration:none;
   
    
}

p:hover{
   cursor: pointer;
}

img{
    margin-left: 207px;
}

.cont_username{
    overflow: hidden;
    border: 1px solid rgb(70, 97, 247);
    background-color: rgb(70, 97, 247);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.btn_active{
    display: none;
    margin-right: 13px;
    background-color: #fff;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #d2464b;
    color: #d2464b;
    padding: 2px;
}
.btn_active:hover{
    background-color: #d2464b;
    cursor: pointer;
    color: #fff;
    
}


.cont_info:hover .btn_active{
    display: block;
}