*{
    margin:0;
    padding:0;
}

nav{

    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-left:5%;
    padding-top:20px;
    padding-right:5%;
    font-weight:bold;
    background-image: url('../../assets/img/header5.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    width: 100%;
    color: rgb(246, 242, 242); 
    padding: 10px 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    
   
}

ul li{
    display: inline-block;
    padding: 0px 20px;
    font-size:24px;
}


p{
    color:white;
    text-decoration:none;
    margin: auto;
    margin-right: 6px;
}

p:hover{
    color: rgb(127, 124, 124);
}