
<div class="table">
    <div class="table-header">
      <h2>Usuarios</h2>
      <div class="buscar">
              <input type="text" placeholder="Buscar Usuario" 
              name="buscar_user" (keyup)="buscarUser($event)">
              <button class="buscarb" type="submit"><img src="../../assets/img/search.svg"/></button>
             
      </div>
      <button class="btn_add"(click)="userRegistrer()">
        <span>Añadir nuevo usuario </span>
        <img src="../../assets/img/add.svg"/>
    </button>
    </div>
    <div class="table-section">
       <table>
          <thead>
              <tr>
                  <th>Usuario</th>
                  <th>Nombre</th>
                  <th>Apellidos</th>
                  <th>Correo</th>
                  <th>Opciones</th>
              </tr>
          </thead>
          <tbody>

            @for (user of users; track user.id) {
                <tr>
                    <td>{{user.username}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <button class="nth-child" (click)="userEdit(user)"><img src="../../assets/img/person_edit.svg"></button>
                        <button class="nth-child" (click)="userDelete(user)"><img src="../../assets/img/person_remove.svg"></button>
                     </td>
                </tr>

            }
          </tbody>
         
       </table>
    </div>
    <div class="pagination">

    </div>
        
  </div>
  
<!---
    <app-registrar/>

-->